doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title KMA Student Management APIs
    style.
      * {
      box-sizing: border-box;
      }
      body {
      font-family: Verdana, sans-serif;
      }
      .mySlides {
      display: none;
      }
      img {
      vertical-align: middle;
      }
      /* Slideshow container */
      .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      }
      /* Caption text */
      .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
      }
      /* Number text (1/3 etc) */
      .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
      }
      /* The dots/bullets/indicators */
      .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      }
      .active {
      background-color: #717171;
      }
      /* Fading animation */
      .fade {
      animation-name: fade;
      animation-duration: 1.5s;
      }
      @keyframes fade {
      from {
      opacity: .4
      }
      to {
      opacity: 1
      }
      }
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
      .text {
      font-size: 11px
      }
      }
      .button {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      }
      .button1 {
      background-color: white;
      color: black;
      border: 2px solid #4CAF50;
      }
      .button1:hover {
      background-color: #4CAF50;
      color: white;
      }
      .button2 {
      background-color: white;
      color: black;
      border: 2px solid #008CBA;
      }
      .button2:hover {
      background-color: #008CBA;
      color: white;
      }
  body
    h1 kma-student-management-web-project KMA student management web project
    br
    p
      img(src='/images/logokma.png' align='left' width='150' hspace='10' vspace='10')
    p |
    p
      | Back-end phục vụ project bài tập lớn môn Công nghệ phần mềm của sinh viên Học viện Kỹ thuật mật mã
    p Công nghệ phần mềm L02
    p Học viện Kỹ thuật mật mã
    p ||
    hr
    h2#api-docs API - Docs
    p
      button.button.button1(type='button' onclick='https://kma-student-management-api.onrender.com/api-docs/')
        a(href='https://kma-student-management-api.onrender.com/api-docs/')
          | API
          | Docs Click here
    h2 Cách Authorize xem hướng dẫn dưới đây
    // Slideshow container
    .slideshow-container
      // Full-width images with number and caption text
      .mySlides.fade
        .numbertext 1 / 4
        img(src='/images/img1.png' style='width:100%')
        .text Caption Text
      .mySlides.fade
        .numbertext 2 / 4
        img(src='/images/img2.png' style='width:100%')
        .text Caption Two
      .mySlides.fade
        .numbertext 3 / 4
        img(src='/images/img3.png' style='width:100%')
        .text Caption Three
      .mySlides.fade
        .numbertext 4 / 4
        img(src='/images/img4.png' style='width:100%')
        .text Caption Three
      // Next and previous buttons
      a.prev(onclick='plusSlides(-1)') ❮
      a.next(onclick='plusSlides(1)') ❯
    br
    // The dots/circles
    div(style='text-align:center')
      span.dot(onclick='currentSlide(1)')
      span.dot(onclick='currentSlide(2)')
      span.dot(onclick='currentSlide(3)')
      span.dot(onclick='currentSlide(4)')
    script.
      let slideIndex = 1;
      showSlides(slideIndex);
      // Next/previous controls
      function plusSlides(n) {
      showSlides(slideIndex += n);
      }
      // Thumbnail image controls
      function currentSlide(n) {
      showSlides(slideIndex = n);
      }
      function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      }
